@font-face {
  font-family: 'Great Vibes';
  src: url('./assets/fonts/GreatVibes-Regular.woff2') format('woff2'),
       url('./assets/fonts/GreatVibes-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.App {
  text-align: center;
  background-color: #094074;
}

.App-header {
  background-color: #094074;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid #5ADBFF;
}

.App-header h1 {
  font-family: "Great Vibes", "Georgia", "serif";
  font-size: 56px;
  color: #FFDD4A;
  margin: 20px 0;
}

.recipe-list {
  background-color: #094074;
}

.recipe-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.recipe {
  border: 3px solid #FFDD4A;
  border-radius: 20px 130px 20px 20px;
  padding: 20px;
  margin: 20px;
  width: 300px;
  text-align: left;
}

.recipe h2 {
  color: #5ADBFF;
  border-bottom: 2px solid #FFFFFF;
  padding-bottom: 10px;
}

.recipe h3 {
  color: #5ADBFF;
}

.recipe ul {
  list-style-type: none;
  padding: 0;
}

.recipe li {
  color: #FFFFFF;
  background-color: #3C6997;
  padding: 5px;
  margin: 5px 0;
}

.recipe p {
  color: #FFFFFF;
  background-color: #3C6997;
  padding: 10px;
}