.recipe-card {
    width: 400px;
    perspective: 1000px;
    margin: 16px;
    padding: 40px;
    cursor: pointer;
}

.recipe-card-front,
.recipe-card-back {
    width: 100%;
    backface-visibility: hidden;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.recipe-card-front {
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 0 15px 5px #FFDD4A;
    border-radius: 20px;
}

.recipe-card-back {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #FFDD4A;
    padding: 5px;
    box-shadow: 0 0 10px #000000;
    border-radius: 10px;
    transform: rotateY(180deg);
}

.recipe-card.flipped .recipe-card-front {
    transform: rotateY(180deg);
}

.recipe-card.flipped .recipe-card-back {
    transform: rotateY(0deg);
}

h2 {
    font-family: "Petrona", "Georgia", "serif";
    color: #3C6997;
    text-align: center;
    text-decoration: underline;
}

h3 {
    color: #3C6997;
}
  
ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 5px 0;
    padding: 10px;
    border-radius: 4px;
}

img {
    width: 100%;
    border-radius: 10px;
}
